<div id="container">
    <div id="nameWrapper">
        <h1>Chat IO</h1>
        <p>Username</p>
        <div id="error"></div>
        <form id="userForm">
            <input type="text" size="35" id="username" placeholder="Username">
            <input type="submit" value="Submit">
        </form>
    </div>

    <div id="mainWrapper">
        <h1>ChatIO</h1>
        <div id="chatWrapper">
            <div id="chatWindow">
                <form id="messageForm">
                    <input type="text" size="35" id="message" placeholder="Send message here">
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    </div>

    <div id="userWrapper">
        <div id="users">

        </div>
    </div>
</div>
